@import "./../variables";

.mainAbout {
  width: 100vw;
  margin-block: 100px 200px;
  user-select: none;
  background-image: radial-gradient(
    circle,
    #1f3d48,
    #183641,
    #102f3a,
    #082933,
    #01222c,
    #01222c,
    #01222c
  );

  .aboutContent {
    margin-inline: auto;
    width: 100%;
    font-size: 0.8rem;
    background: rgba($secondary-color, 0.5);
    border-radius: 5px;
    padding: 10px;

    @include MediaQuery(800px) {
      width: 70%;
    }

    @include MediaQuery(460px) {
      font-size: 1.2rem;
      padding: 80px;
    }

    h2 {
      text-align: center;
      margin-bottom: 20px;
      font-size: 2rem;
    }
  }
}
