@import "./../variables";

.header {
  height: 500px;
  width: 90vw;
  margin: 50px auto;
  overflow: hidden;
  display: none;

  @include MediaQuery(516px) {
    display: block;
  }

  .slideShow {
    height: 100%;
    width: 300%;
    display: flex;
    transition: transform 500ms cubic-bezier(1, 0, 0, 1);

    .slider {
      height: 100%;
      width: 34%;
      display: grid;
      place-content: center;
      background: linear-gradient(
          to right,
          $primary-color,
          transparent,
          $primary-color
        ),
        center / cover var(--bgImg);

      .slidInfo {
        width: 450px;
        background-color: rgba($secondary-color, 0.5);
        backdrop-filter: blur(5px);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        padding: 30px 10px;
        animation: infoJump 5s ease infinite;

        h2 {
          font-size: 1.8rem;
          width: 100%;
          text-align: center;
        }

        > p {
          font-size: 0.8rem;
        }

        > span {
          margin-top: 20px;
          text-align: center;
        }

        .genres {
          text-align: center;

          span::after {
            content: ",";
          }

          span:last-child::after {
            content: "";
          }
        }
      }
    }
  }
}

@keyframes infoJump {
  0% {
    transform: translateY(-500px);
  }

  15% {
    transform: translateY(-5px);
  }

  92% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(500px);
  }
}
