@import "./../variables";

$size: 50px;

.mainLoading {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: rgba($secondary-color, 0.5);
  backdrop-filter: blur(20px);
  display: grid;
  place-content: center;

  .flip_square:before {
    animation: flip_square 1.5s infinite;
    background-color: #fff;
    content: "";
    display: block;
    height: $size;
    width: $size;
  }
}

@keyframes flip_square {
  0% {
    transform: perspective($size) rotate(45deg) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective($size) rotate(45deg) rotateX(-180deg) rotateY(0deg);
  }
  100% {
    transform: perspective($size) rotate(45deg) rotateX(-180deg)
      rotateY(-180deg);
  }
}
